In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

## Filter A `DataFrame` Based On A Condition

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

## Filter with More than One Condition (AND)

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
mask1 = df["Gender"] == "Male"
mask2 = df["Team"] == "Marketing"

df[mask1 & mask2]

## Filter with More than One Condition (OR)

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
mask1 = df["Senior Management"]
mask2 = df["Start Date"] < "1990-01-01"

df[mask1 | mask2]

In [ ]:
mask1 = df["First Name"] == "Robert"
mask2 = df["Team"] == "Client Services"
mask3 = df["Start Date"] > "2016-06-01"

df[(mask1 & mask2) | mask3]

## The `.isin()` Method

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
mask1 = df["Team"] == "Legal"
mask2 = df["Team"] == "Sales"
mask3 = df["Team"] == "Product"

df[mask1 | mask2 | mask3]

## The `.isnull()` and `.notnull()` Methods

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
mask = df["Team"].isnull()

df[mask]

In [ ]:
condition = df["Gender"].notnull()

df[condition]

## The `.between()` Method

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
df["Salary"]

In [ ]:
df["Salary"].between(60000, 70000)

In [ ]:
df[df["Salary"].between(60000, 70000)]

In [ ]:
df["Bonus %"]

In [ ]:
df["Bonus %"].between(2.0, 5.0)

In [ ]:
df[df["Bonus %"].between(2.0, 5.0)]

In [ ]:
df["Start Date"]

In [ ]:
df["Start Date"].between("1991-01-01", "1992-01-01")

In [ ]:
df[df["Start Date"].between("1991-01-01", "1992-01-01")]

In [ ]:
df[df["Start Date"].between("1991-01-01", "1992-01-01")]

In [ ]:
df["Last Login Time"]

In [ ]:
df["Last Login Time"].between("08:30AM", "12:00PM")

In [ ]:
df[df["Last Login Time"].between("08:30AM", "12:00PM")]

In [ ]:
mask =  df["Last Login Time"].between("08:30AM", "12:00PM")

In [ ]:
df[mask]

# Session 18_2

## The `.duplicated()` Method

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.sort_values("First Name", inplace = True)
df.head(3)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
101,Aaron,Male,2012-02-17,2021-07-19 10:20:00,61602,11.849,True,Marketing
327,Aaron,Male,1994-01-29,2021-07-19 18:48:00,58755,5.097,True,Marketing
440,Aaron,Male,1990-07-22,2021-07-19 14:53:00,52119,11.343,True,Client Services

In [3]:
df["First Name"].head(20)

101     Aaron
327     Aaron
440     Aaron
937     Aaron
137      Adam
141      Adam
302      Adam
538      Adam
300      Alan
53       Alan
610      Alan
372    Albert
458    Albert
477    Albert
680    Albert
999    Albert
959    Albert
988     Alice
970     Alice
765     Alice
Name: First Name, dtype: object

In [4]:
df["First Name"].duplicated()

101    False
327     True
440     True
937     True
137    False
       ...
902     True
925     True
946     True
947     True
951     True
Name: First Name, Length: 1000, dtype: bool

In [5]:
df[df["First Name"].duplicated()]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
327,Aaron,Male,1994-01-29,2021-07-19 18:48:00,58755,5.097,True,Marketing
440,Aaron,Male,1990-07-22,2021-07-19 14:53:00,52119,11.343,True,Client Services
937,Aaron,NaN,1986-01-22,2021-07-19 19:39:00,63126,18.424,False,Client Services
141,Adam,Male,1990-12-24,2021-07-19 20:57:00,110194,14.727,True,Product
302,Adam,Male,2007-07-05,2021-07-19 11:59:00,71276,5.027,True,Human Resources
...,...,...,...,...,...,...,...,...
902,NaN,Male,2001-05-23,2021-07-19 19:52:00,103877,6.322,True,Distribution
925,NaN,Female,2000-08-23,2021-07-19 16:19:00,95866,19.388,True,Sales
946,NaN,Female,1985-09-15,2021-07-19 01:50:00,133472,16.941,True,Distribution
947,NaN,Male,2012-07-30,2021-07-19 15:07:00,107351,5.329,True,Marketing
951,NaN,Female,2010-09-14,2021-07-19 05:19:00,143638,9.662,True,NaN

In [6]:
df["First Name"].duplicated(keep = 'last')

101     True
327     True
440     True
937    False
137     True
       ...
902     True
925     True
946     True
947     True
951    False
Name: First Name, Length: 1000, dtype: bool

In [7]:
df["First Name"].duplicated(keep = False)

101    True
327    True
440    True
937    True
137    True
       ...
902    True
925    True
946    True
947    True
951    True
Name: First Name, Length: 1000, dtype: bool

In [8]:
df[df["First Name"].duplicated(keep = False)]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
101,Aaron,Male,2012-02-17,2021-07-19 10:20:00,61602,11.849,True,Marketing
327,Aaron,Male,1994-01-29,2021-07-19 18:48:00,58755,5.097,True,Marketing
440,Aaron,Male,1990-07-22,2021-07-19 14:53:00,52119,11.343,True,Client Services
937,Aaron,NaN,1986-01-22,2021-07-19 19:39:00,63126,18.424,False,Client Services
137,Adam,Male,2011-05-21,2021-07-19 01:45:00,95327,15.120,False,Distribution
...,...,...,...,...,...,...,...,...
902,NaN,Male,2001-05-23,2021-07-19 19:52:00,103877,6.322,True,Distribution
925,NaN,Female,2000-08-23,2021-07-19 16:19:00,95866,19.388,True,Sales
946,NaN,Female,1985-09-15,2021-07-19 01:50:00,133472,16.941,True,Distribution
947,NaN,Male,2012-07-30,2021-07-19 15:07:00,107351,5.329,True,Marketing
951,NaN,Female,2010-09-14,2021-07-19 05:19:00,143638,9.662,True,NaN

In [9]:
~df["First Name"].duplicated(keep = False)

101    False
327    False
440    False
937    False
137    False
       ...
902    False
925    False
946    False
947    False
951    False
Name: First Name, Length: 1000, dtype: bool

In [10]:
mask = ~df["First Name"].duplicated(keep = False)
df[mask]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
8,Angela,Female,2005-11-22,2021-07-19 06:29:00,95570,18.523,True,Engineering
688,Brian,Male,2007-04-07,2021-07-19 22:47:00,93901,17.821,True,Legal
190,Carol,Female,1996-03-19,2021-07-19 03:39:00,57783,9.129,False,Finance
887,David,Male,2009-12-05,2021-07-19 08:48:00,92242,15.407,False,Legal
5,Dennis,Male,1987-04-18,2021-07-19 01:35:00,115163,10.125,False,Legal
495,Eugene,Male,1984-05-24,2021-07-19 10:54:00,81077,2.117,False,Sales
33,Jean,Female,1993-12-18,2021-07-19 09:07:00,119082,16.180,False,Business Development
832,Keith,Male,2003-02-12,2021-07-19 15:02:00,120672,19.467,False,Legal
291,Tammy,Female,1984-11-11,2021-07-19 10:30:00,132839,17.463,True,Client Services